      <!-- Begin .parallax-section -->
      <div class="parallax-section parallax-section-1" data-stellar-vertical-offset="-300" data-stellar-background-ratio="0.5">
        <h2 class="parallax-title">BALEEN PARALLAX TEMPLATE</h2>
        <p class="parallax-body">BUILD ON BOOTSRAP 3.0</p>
      </div>
      <!-- End #parallax-section -->

      <!-- Begin .parallax-section -->
      <div class="parallax-section parallax-section-2" data-stellar-vertical-offset="-150" data-stellar-background-ratio="0.5">
        <h2 class="parallax-title">CLEAN & RESPONSIVE DESIGN</h2>
        <p class="parallax-body"><a href="#" class="btn btn-brand btn-large">BUY NOW</a></p>
      </div>
      <!-- End #parallax-section -->
