      <!-- Begin .staff-section -->
      <div id="team" class="staff-section global-section container-section">    
        <div class="container">
          
          <div class="row">
            <div class="section-header">
              <h3 class="section-header-title">OUR TEAM</h3>
              <p class="section-header-body">Let meet our talented human resource.</p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="staff-group">
                <div class="staff-image"><img src="images/staff-team-lead_steve.png" alt="" class="img-responsive img-circle" /></div>
                <h4 class="staff-title">STEVE</h4>
                <h6 class="staff-designation">TEAM LEAD</h6>
                <p class="staff-body">Pellentesque felis leo, mollis vel tortor a, ultricies elementum velit.</p>
                <ul class="widget_social-list-wrapper widget_social-one list-inline clearfix">
                  <li class="facebook"><a href="javascript:;" target="_blank" title="Facebook" data-toggle="tooltip">Facebook</a></li>
                  <li class="twitter"><a href="javascript:;" target="_blank" title="Twitter" data-toggle="tooltip">Twitter</a></li>
                  <li class="gplus"><a href="javascript:;" target="_blank" title="Google Plus" data-toggle="tooltip">Google Plus</a></li>
                  <li class="linkedin"><a href="javascript:;" target="_blank" title="LinkedIn" data-toggle="tooltip">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>     
        </div>  
      </div>
      <!-- End .staff-section -->
