<h3>Create New Plan</h3>
<form>
    <label for="planName">Name</label>
    <br/>
    <input name="planName" placeholder="My new contingency plan" />
    <br/>
    <label for="actionDate">Action Date</label>
    <br/>
    <input name="actionDate" />
    <br/>
    <label for="actionDescription">Action Description</label>
    <br/>
    <textarea name="actionDescription" placeholder="Describe where you are going and what you plan on doing" rows="4"/>
    <br/>
    <input name="activatePlan" value="Activate Plan?" type="checkbox">
    <input type="button" value="Create New Plan" />
</form>
